<%= erb(:with_events) %>

<div class="event">
<h1> Event: <%= @info[:eventname] %> </h1>
<table class="table-center">
  <caption class="back"><a href="/sources/<%= @info[:client].identifier%>"><<</a></caption>
  <tr>
    <th>Hour (Military)</th>
    <th>Frequency</th>
  </tr>
  <% @info[:data].each do |key, value|%>
  <tr>
    <td><%=key%></td>
    <td><%=value%></td>
  </tr>
  <% end %>
  <tr>
    <td>Total</td>
    <td><%= @info[:total] %></td>
  </tr>
</table>
</div>
