<%= erb(:with_events) %>

<h1 class="title"> <%= @info[:client].identifier %></h1>

<table class="table-center">
  <caption class="back"><a href="/"><<</a></caption>
  <tr>
    <th>Statistic</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Average Response Time</td>
    <td class="avg-response"><%= @info[:client].average_response_time %></td>
  </tr>
  <tr>
    <td>Max Response Time</td>
    <td class="max-response"><%= @info[:client].max_response_time %></td>
  </tr>
  <tr>
    <td>Min Response Time</td>
    <td class="min-response"><%= @info[:client].min_response_time %></td>
  </tr>
  <tr>
    <td>Most Frequent Request Type</td>
    <td class="most-frequent"><%= @info[:client].most_frequent_request_type %></td>
  </tr>
  <tr>
    <td>List of Http Verbs</td>
    <td class="all-verbs"><%= @info[:client].all_request_types.join(", ") %></td>
  </tr>
  <tr>
    <td>Urls from Most Requested to Least</td>
    <td>
    <% @info[:client].urls_descending.each do |urlpath| %>

      <table class="mini-table">
        <tr>
          <td class="urls"><a href="/sources/<%=@info[:client].identifier%>/urls/<%=urlpath.split('/')[-1]%>"><%=urlpath%></a></td>
        </tr>
      </table>
    <% end %>
  </td>
  </tr>
  <tr>
    <td>Web Browswer Breakdown</td>
    <td class="browser"><%= @info[:client].browser_breakdown.to_a.flatten.join(": ") %></td>
  </tr>
  <tr>
    <td>Operating System Breakdown </td>
    <td class="os"><%= @info[:client].os_breakdown.to_a.flatten.join(": ") %></td>
  </tr>
  <tr>
    <td>Screen Resolution </td>
    <td>
      <% @info[:client].resolutions_breakdown.each do |rez| %>
        <table class="mini-table">
          <tr><th>Height</th><th>Width</th><th>Count</th></tr>
          <tr>
            <td class="res-height"><%=rez[0]["height"]%></td>
            <td class="res-width"><%=rez[0]["width"]%></td>
            <td class="res-count"><%=rez[1]%></td>
          </tr>
        </table>
      <% end %>
    </td>
  </tr>
</table>
